.vscode/**
.vscode-test/**
out/**
src/**
test/**
scripts/**
node_modules/**
dist/*.vsix
dist/*.map
.npm-cache/**
.turbo/**
esbuild.mjs
eslint.config.mjs
vitest.config.mts
tsconfig.json
.prettierrc
.prettierignore
**/*.map
**/.DS_Store
