openapi: 3.1.0
info:
  title: Vibefuel Extension API
  version: 2.0.0
  summary: Contract between the Vibefuel clients (VS Code extension, Claude Code plugin) and the Vibefuel web app.
  description: |
    The web app at vibefuel.app serves this API. A developer creates a serial
    key on the site (no email, no password) and pastes it into a client. Every
    request carries that key as a bearer token.

    Clients fetch sponsored messages, report ad events in batches, send a
    heartbeat with active editor time, read the balance and link a Solana
    public address. The extension ships a mock adapter that implements this
    same contract locally.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://vibefuel.app
    description: Production.
  - url: http://localhost:3000
    description: Local development (`npm run dev` in apps/web).
tags:
  - name: account
  - name: ads
  - name: events
  - name: wallet
security:
  - serialKey: []
paths:
  /api/ext/me:
    get:
      tags: [account]
      operationId: getMe
      summary: Account summary for the key. Also verifies the key on sign-in.
      responses:
        "200":
          description: The developer behind this key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/Error"
  /api/ext/heartbeat:
    post:
      tags: [account]
      operationId: heartbeat
      summary: Report active editor time.
      description: |
        Sent about once a minute while the editor window is focused and
        Vibefuel is on. `active_seconds` is the focused time since the previous
        heartbeat, capped at 600. The site aggregates it per UTC day and shows
        it as hours of work. Rate limit 30 per minute.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Heartbeat"
      responses:
        "200":
          description: Recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/Error"
  /api/ext/ads/next:
    get:
      tags: [ads]
      operationId: getNextAd
      summary: Return the next eligible sponsored message for this developer.
      description: |
        A campaign is eligible when it is live, has budget left and this
        developer has not had a rewarded impression of it in the last 6 hours.
        The client applies its own frequency and quiet period on top.
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
        - name: surface
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Surface"
      responses:
        "200":
          description: An eligible ad.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ad"
        "204":
          description: No eligible ad right now.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/Error"
  /api/ext/events:
    post:
      tags: [events]
      operationId: postEvents
      summary: Report a batch of ad events.
      description: |
        At most 100 events per request and at most one request per minute per
        client. Events are idempotent on `id`, so a retried batch never double
        counts. The server pays an impression reward at most once per campaign
        per developer per 6 hours and never beyond the campaign budget.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventBatch"
      responses:
        "200":
          description: Batch processed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventBatchResult"
        "400":
          description: Malformed batch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/Error"
  /api/ext/wallet:
    post:
      tags: [wallet]
      operationId: linkWallet
      summary: Link a Solana public address for payouts.
      description: Only a public address is ever sent. Private keys and seed phrases never leave the developer's machine, and the clients never ask for them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletLinkRequest"
      responses:
        "200":
          description: Address linked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "400":
          description: Not a valid Solana public key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        default:
          $ref: "#/components/responses/Error"
    delete:
      tags: [wallet]
      operationId: unlinkWallet
      summary: Unlink the Solana public address.
      responses:
        "204":
          description: Address unlinked (or none was linked).
        "401":
          $ref: "#/components/responses/Unauthorized"
        default:
          $ref: "#/components/responses/Error"
  /api/go/{ad_id}:
    get:
      tags: [events]
      operationId: clickRedirect
      summary: Record a click and redirect to the advertiser.
      description: |
        Used by terminal surfaces where a link is printed as text. `t` is a
        short-lived token minted by the server when the ad was served, bound to
        the developer and the campaign, so the serial key never appears in a
        link. The server records a `click` event once per token and answers
        with a 302 to the campaign URL.
      security: []
      parameters:
        - name: ad_id
          in: path
          required: true
          schema:
            type: string
        - name: t
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect to the advertiser's URL.
          headers:
            Location:
              schema:
                type: string
                format: uri
        "404":
          description: Unknown ad or invalid token.
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    serialKey:
      type: http
      scheme: bearer
      description: The developer's serial key, `VF-XXXX-XXXX-XXXX-XXXX`, created on vibefuel.app.
  responses:
    Unauthorized:
      description: Missing, malformed or unknown serial key. The client signs out.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Too many requests. Back off until the next tick.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error:
      description: Unexpected error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    Surface:
      type: string
      enum: [sidebar, terminal]
      description: |
        Where the ad is rendered. `sidebar` impressions require 3 seconds of
        focused visibility; `terminal` impressions count on display.
    ClientInfo:
      type: object
      description: The only environment data the clients collect.
      required: [editor, editor_version, extension_version]
      properties:
        editor:
          type: string
          description: Client application name, e.g. `Visual Studio Code`, `Cursor` or `Claude Code`.
          maxLength: 80
        editor_version:
          type: string
          maxLength: 40
        extension_version:
          type: string
          maxLength: 40
        surface:
          $ref: "#/components/schemas/Surface"
    Heartbeat:
      type: object
      required: [editor, extension_version, active_seconds]
      properties:
        editor:
          type: string
          maxLength: 80
        extension_version:
          type: string
          maxLength: 40
        active_seconds:
          type: integer
          minimum: 0
          maximum: 600
    Ok:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          const: true
    Me:
      type: object
      required:
        [
          developer_id,
          key_prefix,
          wallet_address,
          balance,
          earned,
          active_seconds,
        ]
      properties:
        developer_id:
          type: string
        key_prefix:
          type: string
          description: First characters of the key, e.g. `VF-7K2M`, for display.
        wallet_address:
          type: ["string", "null"]
        balance:
          $ref: "#/components/schemas/Balance"
        earned:
          type: number
          description: Tokens earned all time.
        active_seconds:
          type: integer
          description: Active editor time all time, from heartbeats.
    Ad:
      type: object
      description: One sponsored message. Rendered only inside the Vibefuel sidebar view or as one labelled terminal line.
      required:
        [
          id,
          advertiser,
          headline,
          body,
          cta_label,
          cta_url,
          reward_tokens,
          expires_at,
        ]
      properties:
        id:
          type: string
          description: Campaign id.
        advertiser:
          type: string
          maxLength: 40
        domain:
          type: string
          maxLength: 80
          description: Advertiser domain shown next to the name.
        headline:
          type: string
          maxLength: 60
        body:
          type: string
          maxLength: 140
        cta_label:
          type: string
          maxLength: 20
        cta_url:
          type: string
          format: uri
          pattern: "^https://"
          description: Opened in the external browser when the developer clicks the CTA. Never auto-opened.
        image_url:
          type: string
          format: uri
          pattern: "^https://"
          description: Optional 16:9 image.
        logo_url:
          type: string
          format: uri
          pattern: "^https://"
          description: Optional square logo.
        brand_bg:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
          description: Card background set by the advertiser.
        brand_fg:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
          description: Card text color set by the advertiser.
        click_url:
          type: string
          format: uri
          pattern: "^https://"
          description: Tracked link (`GET /api/go/{ad_id}`) for surfaces that cannot send a click event.
        reward_tokens:
          type: number
          minimum: 0
          description: Tokens credited on a qualified impression.
        expires_at:
          type: string
          format: date-time
    AdEventType:
      type: string
      enum: [impression, click, dismiss]
    AdEvent:
      type: object
      required: [id, ad_id, type, occurred_at, session_id]
      properties:
        id:
          type: string
          description: Client-generated UUID used for idempotency.
          maxLength: 80
        ad_id:
          type: string
          description: Campaign id from the served ad.
        type:
          $ref: "#/components/schemas/AdEventType"
        occurred_at:
          type: string
          format: date-time
        session_id:
          type: string
          description: Random id for the current editor session. Rotates every time the editor starts.
    EventBatch:
      type: object
      required: [events, client]
      properties:
        events:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/AdEvent"
        client:
          $ref: "#/components/schemas/ClientInfo"
    EventBatchResult:
      type: object
      required: [accepted, rewarded, balance]
      properties:
        accepted:
          type: integer
          description: Events stored, excluding duplicates.
        rewarded:
          type: integer
          description: Tokens credited by this batch.
        balance:
          $ref: "#/components/schemas/Balance"
    Balance:
      type: object
      required: [pending, settled, currency]
      properties:
        pending:
          type: number
          description: Tokens available, not yet paid out.
        settled:
          type: number
          description: Tokens already paid out to the linked wallet.
        currency:
          type: string
          description: Token symbol.
        updated_at:
          type: string
          format: date-time
    WalletLinkRequest:
      type: object
      required: [address]
      properties:
        address:
          type: string
          description: Base58 Solana public key (32 bytes).
          minLength: 32
          maxLength: 44
    Wallet:
      type: object
      required: [address, linked_at]
      properties:
        address:
          type: string
        linked_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        message:
          type: string
